/* @import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:wght@400;700&display=swap');


:root {
    --color1: #FDFAF6; /* jasne tło - ciepła szarość */
    --color2: #0b0c2a; /* głęboki granat - do tekstów, przycisków, cieni */

    --color3: #15175460; /* metaliczny niebieski - do akcentów, ikon */
    --color4: #121326; /* grafitowo-granatowy - do hoverów, ramek */

    --opacityColor: #7d7a7ab3; /* przezroczysty szary - tło menu, zaznaczenia */
    --opacityColor2: rgba(255, 255, 255, 0.768); /* półprzezroczysty biały */

    --glowStrong: 0 0 10px var(--color2), 0 0 20px var(--color2), 0 0 30px var(--color2),
                  0 0 40px var(--color2), 0 0 50px var(--color2), 0 0 60px var(--color2),
                  0 0 70px var(--color2); 
                  /* mocny granatowy blask - do tytułów lub efektów specjalnych */

    --glowLight: 0 0 0.4px var(--color2),
                 0 0 0.2px var(--color2),
                 0 0 0.2px var(--color2),
                 0 0 2px var(--color2),
                 0 0 12px var(--color2);
                 /* delikatniejszy granatowy cień - do tekstu lub przycisków */
}

html{
    background-color: var(--color1);
}

*{

    &::selection{
        background-color: var(--color2);
        color: var(--color1);
    }
   
}
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    overflow-x: hidden !important;
}
a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior:smooth;
}

#main{
    position: relative;
    min-height: 100vh;
    background-color: var(--color1);
    .nav {
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: var(--opacityColor);
        display: flex;
        justify-content: space-between;
        color: var(--color2);
        z-index: 10;
       
    
        ul {
            list-style: none;
            display: flex;
            width: 80%;
            justify-content: space-around;
    
            li {
                color: var(--color2);
                font-size: 1.1rem;
                font-weight: 500;
                letter-spacing: 4px;
                text-shadow: var(--glowLight);
                padding: 2px 0 4px 0 ;
                height: 100%;
                transition: .4s;
                &:hover{
                    -webkit-box-shadow: 0px 2px 0px 0px var(--color2); 
                    box-shadow: 0px 2px 0px 0px var(--color2);
                }
            }
        }
    
        .logo {
            width: 50px;
            height: 60px;
            text-align: center;
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            color: var(--color4);
            cursor: pointer;
            text-shadow: var(--glowLight);
        }
    }
    
    .nav_mobile {
        display: none;
        position: fixed;
        width: 100%;
        height: 50px;
        justify-content: space-between;
        z-index: 999999;
       
        
        color: var(--color2);
        text-shadow: var(--glowLight);
        font-size: 1.5rem;
        background-color: var(--opacityColor);
        .navBar{
            padding: 15px;
        } 
        .logo{
            padding: 10px;
        }
    
    }
    .navList{
        display: none;
        position: fixed;
        width: 100%;
        height: 0px;
        z-index: 99999;
        
        color: var(--color2);
        font-size: 1.3rem;
        overflow: hidden;
        background-color: var(--opacityColor);
        transition: 1.3s;
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 40px 0 10px 0;
            gap: 10px;
            a{
                color: var(--color1);
            }
            li{
                letter-spacing: 5px;
                background-color: var(--opacityColor);
                padding: 5px;
                font-weight: 600;
                transition: .2s;
                &:hover{
                    background-color: var(--color4);
                }
            }
            
    
        }
    }

    .name{
        z-index: 999999;
        position: absolute;
        top: 30%;
        left: 5%;
        display: flex;
        flex-direction: column;
        color: var(--color4);
        text-shadow: var(--glowLight);

        span{
            font-size: 4rem;
            font-weight: 800;
            letter-spacing: 1.5px;
            font-style: italic;
           
            &:nth-child(2){
                margin-left: 80px;
                margin-top: 20px;
             
               
            }

        }
        
    }

    .carge{
        position: absolute;
        bottom: 5%;
        right: 7%;
        z-index: 99999;
        color: var(--color2);

        span{
            font-size: 1.2rem;
            letter-spacing: 7px;
            font-weight: 800;
            -webkit-box-shadow: 0px 2px 0px 0px var(--color2); 
            box-shadow: 0px 2px 0px 0px var(--color2);
            padding: 3px;

        }

    }
}

#about{
    position: relative;

    min-height: 100vh;
    background-color: var(--color1);
    padding-top: 80px;

    

   

    .instruments{
        margin: 75px auto;
        display: flex;
        justify-content: space-between;
        width: 45%;
        padding: 10px 10px;
        -webkit-box-shadow: 0px 2px 0px 0px var(--color2); 
        box-shadow: 0px 2px 0px 0px var(--color2);
        cursor: pointer;
        
        .item img{
            width: 55px;
            height: 55px;
            padding: 10px;
            transition: .4s;
            border-radius: 15px;
        }

        .item img:hover{
            scale: 0.9;
         
        }
    }

    .blok{
        display: flex;
        /* flex-wrap: wrap; */
        gap: 20px;
       
        

        .selfFoto{
           
            margin-top: 50px;

            img{
                
                max-height: 400px;
                border-radius: 10px;
            }
        }
        .phone{
            display: none ;
        }

        .video-slider-container {
            position: relative;
            overflow: hidden;
            max-width: 900px;
            margin: auto;
        }
        
        .video-slider {
            display: flex;
            overflow-x: auto;
            scroll-behavior: smooth;
            scrollbar-width: none; /* Firefox */
            width: 100%;
            scroll-snap-type: x mandatory;
        }
        
        .video-slider::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Edge */
        }
        
        .video-slider video {
            flex: 0 0 100%;
            width: 100%;
            height: 400px;
            object-fit: cover;
            background: black;
            scroll-snap-align: center;
            border-radius: 10px;
        
            transform: scaleY(.9) scaleX(1);
            transition: transform 0.3s;

            &:nth-child(2){
                object-position: 50% 21%;
            }
           
        }
        
        .nav-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(255, 255, 255, 0.6);
            border: none;
            font-size: 2rem;
            cursor: pointer;
            padding: 0.5rem 1rem;
            z-index: 2;
            transition: background-color 0.3s;
        }
        
        .nav-btn:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }
        
        .prev {
            left: 10px;
        }
        
        .next {
            right: 10px;
        }
    }
    .blok2{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 kolumny */
        gap: 3rem; /* odstęp między elementami */
    }

    .informations{
        padding:10px 40px ;

        .creativity{
            display: block;
            .whiteGlow{
                font-size: 1.1rem;
                font-weight: 600;
                letter-spacing: 2px;
                margin: 4px;
                padding-bottom: 6px;
                border-bottom: 2px solid var(--opacityColor);
              
            }
            ul{
                margin: 0;
                padding: 0;
                margin-left: 20px;
                list-style: none;
           
                
              
                
                li{
                    font-style: italic;
                    padding: 6px 0px;
                    border-bottom: 2px solid var(--opacityColor);
                }
            }
        }
 
       
        .element{
            margin-bottom: 80px;

            b{
                color: var(--color2);
                text-shadow: var(--glowLight);
            }
            
            .arrow{
                font-size: 1.7rem;
                color: var(--color2);
                text-shadow: var(--glowLight);
            }

            .name{
                font-weight: 600;
                font-size: 1.7rem;
                margin-left: 10px;
                letter-spacing: 2px;
                color: var(--color2);
                text-shadow: var(--glowLight);
           
          
            }

            .content{
                padding: 10px;
                border-top: 3px solid var(--color2);
                border-left: 3px solid var(--color2);
                background-color: var(--color1);
                color: var(--color2);
                font-weight: 500;
                font-size: 1.1rem;
                border-top-left-radius: 5px;
                max-height: 400px;
                overflow-y:scroll;
         
               
            }
            .special{
                display: flex;
                margin-top: 15px;
            }
        }
    }
}
#contact{
    position: relative;
   
    background-color: var(--color1);
  
    
.contact-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 50px auto;
   
    box-shadow: 0 2px 4px var(--color2);
  }
  
  .contact-form-box {
    flex: 1;
    padding: 40px;
  }
  
  .contact-form-box h2 {
    font-size: 1.9rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;

  }
  
  .contact-form-box p {
    font-size: 0.95rem;
    color: var(--opacityColor);
    margin-bottom: 30px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    font-size: 1rem;
    background: transparent;
    outline: none;
  }
  
  .contact-form button {
    width: 100%;
    padding: 14px;
    background: var(--color2);
    color: var(--color1);
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .contact-form button:hover {
    background: var(--color2);
  }
  
  .contact-info-box {
    flex: 1;
    background: var(--color2);
    color: var(--color1);
    padding: 40px;
    position: relative;

    i{
        margin-right: 10px;
    }
  }
  
  .contact-info-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    background: var(--color3);
  }
  
 
  
  .contact-info-box h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 30px;
  }
  
  .contact-info-box p {
    margin: 12px 0;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  
  .contact-info-box span {
    margin-right: 10px;
  }
  
  .contact-socials {
    margin-top: 30px;
  }
  
  .contact-socials a {
    margin-right: 15px;
    text-decoration: none;
    font-size: 18px;
    color: var(--color1);
  }


    
}


.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}



.heading{
    color: var(--color2);
    text-shadow: var(--glowLight);
    letter-spacing: 6px;
    font-size: 3.3rem;
    padding: 5px 15px 5px 30px;
    border-bottom: 3px solid var(--color2);
    
    font-weight: 800;
    margin-bottom: 50px;
    border-top-right-radius: 5px;
  
}






/* ANIMATIONS: */
@keyframes noteFall {
    30%{
        color: var(--color4);
    }
    100%{
        opacity: .5;
        color: var(--color4);
        transform: translateY(40px);
    }
}

.whiteGlow{
    color: var(--color2);
    text-shadow: var(--glowLight);
}



/* RESPONSIVE:  */
@media (max-width: 948px) {
    .contact-container{
        box-shadow: none !important;
        margin: 0 !important;

        h2{
            font-size: 1.7rem !important;
        }
        h3{
            font: 1.2rem !important;
        }

    
    }
    
    .heading{
        font-size: 2rem !important;
    }

    .blok2{
        grid-template-columns: 1fr !important;
        gap: .1rem !important;
    }
    .selfFoto{
        display: none !important;
        margin: 0 !important;
    }
    .phone{
        display: block !important;
        img{
            width: 150px;
        }
        
    }
    .video-slider video{
        transform: scaleY(0.8) scaleX(1) !important;
    }
 
    .nav {
        display: none !important;
    }
    .nav_mobile {
        display: flex !important;
    }
    .navList{
        display: block !important;
    }
    .name span{
        font-size: 2.6rem !important; 
        font-weight: 600 !important;

      
    }
    .name span:nth-child(2){
        margin-left: 20px !important;
       
      
    }
    #about {

        
        .instruments {
            width: auto  !important;
            margin: 30px 20px;

            img{
                width: 30px !important;
                height: 30px !important;
            }
        }
        .informations{
            margin: 30px 20px;
            padding: 0;
        }
        .name{
           font-size:  1.1rem !important;
           margin-left: 5px;
           margin-bottom: 10px;
        }
        .special{
            margin-top: 15px;
        }
        .arrow{
            font-size: 1rem !important; 
        }

        .element{
            margin-top: 60px !important;
            margin-bottom: 0px !important;
        }
        .content{
            font-size: 0.8rem !important;
        }
       

    }

    .whiteGlow{
        font-size: 1rem !important;
    }

    .carge{
        bottom: 10% !important;
    }
    .hide{
        opacity: 0 !important;
    }

}

